.container {
  margin: auto;
  background-color: #f5f5f5;
  width: 400px;
  height: 550px;
  border-radius: 20px;
  box-sizing: border-box;
}
.login {
  padding-top: 5px;
  text-align: center;
  font-family: arial;
  color: rgb(55, 0, 255);
  font-weight: 500;
  font-size: 23px;
}
.email {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: aqua;
  box-sizing: border-box;
}
.password {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: aqua;
  box-sizing: border-box;
}
.fp {
  text-align: center;
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.sub {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(30, 30, 118);
  box-sizing: border-box;
  font-size: large;
  color: aqua;
}
.signup {
  text-align: center;
  color: #0df5f5;
}
.or {
  text-align: center;
  color: rgb(241, 8, 8);
}
.Facebook {
  width: 90%;
  margin-left: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(30, 30, 118);
  box-sizing: border-box;
  font-size: large;
  color: aqua;
}
.google {
  width: 90%;
  margin: left 10px; ;
 
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #76471e;
  box-sizing: border-box;
  font-size: large;
  color: aqua;
